@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome, @ViewBag.DisplayName</h2>
    <img src="@ViewBag.SpotifyUserProfileImage" alt="Spotify Profile Image" />
    <a class="btn btn-danger" href="/Home/Logout">Logout</a>

    @if (ViewBag.Artists != null)
    {
        <h2>Top Artists</h2>
        <ul>
            @foreach (var artist in ViewBag.Artists)
            {
                <li>
                    @artist.Name <img src="@artist.FirstImageUrl" alt="Spotify Profile Image" />

                    
                </li>
            }
        </ul>
    }
    else
    {
        <p>No artists found.</p>
    }
    @if (ViewBag.Tracks != null)
    {
        <h2>Top Tracks</h2>
        <ul>
            @foreach (var song in ViewBag.Tracks)
            {
                <li>
                    <img src="@song.Album.FirstImageUrl" alt="Spotify Profile Image" />
                    <p>
                        @song.Name FT. @song.Album.stringArtists
                    </p>


                </li>
            }
        </ul>
    }
    else
    {
        <p>No tracks found.</p>
    }
}
else
{
    <p>You are not authenticated with Spotify. Please sign in.</p>
    //<a class="btn btn-primary" href="/signin-spotify">Login with Spotify</a>
    <a asp-action="SignIn">Click here to login</a>
}
