@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome, @ViewBag.DisplayName</h2>
    <p>Email: @ViewBag.Email</p>
    <p>ID: @ViewBag.ID</p>
    <img src="@ViewBag.SpotifyUserProfileImage" alt="Spotify Profile Image" />
    <p>Country: @ViewBag.Country</p>
    <p>Account Type: @ViewBag.AccountType</p>
    <p>Number of Followers: @ViewBag.Followers</p>
    <a class="btn btn-danger" href="/Home/Logout">Logout</a>

    @if (ViewBag.Artists != null)
    {
        <h2>Top Artists</h2>
        <ul>
            @foreach (var artist in ViewBag.Artists)
            {
                <li>
                    @artist.Name <img src="@artist.ImageTest" alt="Spotify Profile Image" />

                    
                </li>
            }
        </ul>
    }
    else
    {
        <p>No artists found.</p>
    }
}
else
{
    <p>You are not authenticated with Spotify. Please sign in.</p>
    //<a class="btn btn-primary" href="/signin-spotify">Login with Spotify</a>
    <a asp-action="SignIn">Click here to login</a>
}
